<section class="sign-in-page">
    <div class="form-heading">
        <h1>Sign Up</h1>
    </div>
    <div class="form-section">
        <form class="signup-form">
            <div>
                <label for="username-signup">Select a Username</label>
                <input type="text" class="entry-field" id="username-signup" />
            </div>
            <div>
                <label for="password-signup">Select a password</label>
                <input type="password" class="entry-field" id="password-signup" />
            </div>
              <div>
                <label for="username-email">Email</label>
                <input type="text" class="entry-field" id="username-email" />
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
              <div>
                <label for="username-preference">Favorite Music</label>
                <input type="text" class="entry-field" id="username-preference" />
            </div>
            <div>
                <button type="submit" class="login-signup-btn">Sign Up!</button>
            </div>
        </form>
    </div>

    <a href="/login" class="login-link">log in instead</a>
</section>

<script src="/js/signup.js"></script>
<script src="/js/login.js"></script>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}